python-dotenv
structlog

langchain
langchain-community
langchain-core

langchain-groq
langchain-ollama
langchain-openai

pypdf
docx2txt
ipykernel
python-multipart
faiss-cpu
tiktoken
rapidocr-onnxruntime

fastapi
uvicorn
Jinja2

langsmith
openai
pandas